/* Constants */
:root {
	--phi: 1.618rem;
	--width: 50rem;
	--bg: #002b36;
	--fg: rgba(255, 255, 255, 0.8);
}

/* Light Mode override */
@media (prefers-color-scheme: light) {
	:root {
		--bg: #fdf6e3;
		--fg: rgba(0, 0, 0, 0.8);
	}
}

/* Reset */
* { box-sizing: border-box; }
html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

/* Type! */
textarea {

	/* Colour theme */
	background: var(--bg);
	color: var(--fg);

	/* Position */
	position: absolute;
	width: 100%;
	inset: 0;

	/* Typography */
	font-family: Menlo, Consolas, Monaco, Adwaita Mono, Liberation Mono, Lucida Console, monospace;
	line-height: var(--phi);
	font-size: 1rem;
	tab-size: 4;

	/* Appearance */
	padding-inline: max(calc((100% - var(--width)) / 2), var(--phi));
	padding-block: var(--phi);
	outline: none;
	border: none;
	resize: none;
}

/* Note Title */
textarea:first-line {
	font-size: var(--phi);
	line-height: 2rem;
}
